<div class="comments">
    {{#each this}}
    <section class="comment ">
      <div class="text">
        {{comment_text}} {{user.username}} on {{formatDate created_at}}
      </div>
    </section>
    {{/each}}
</div>